<script type="text/template" id="headerTpl">
    <div class="row clearfix">
        <div class="col-lg-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">MService</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-wrench"></i>&nbsp; Сервисы<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/assets/pricelist-generator.html">Генератор прайс-листов</a>
                                </li>

                                <li>
                                    <a href="/actualization">Обновление товаров</a>
                                </li>

                                <li>
                                    <a href="/currencies">Менеджер цен</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="/assets/contact.html"><i class="fa fa-phone"></i>&nbsp; Контакты</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="logoutLink" href="#"><i class="fa fa-sign-out"></i>&nbsp; Выйти</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</script>

<script type="text/template" id="manufacturerViewTpl">
    <td><%= name %></td>
    <td><input type="text" class="form-control" value="<%= rate %>"></td>
    <td>
        <button class="btn btn-info btn-md" type="button">
            <span class="glyphicon glyphicon-refresh" data-toggle="tooltip" data-placement="top" title="Пересчитать цены товаров в грн.">
            </span>
        </button>
    </td>
</script>

<script type="text/template" id="productSearchTpl">
    <div class="col-md-6 column">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="searchPhrase" placeholder="Поиск товаров" value="<%= text%>">
                    <span class="input-group-btn">
                      <button id="searchBtn" class="btn btn-default" type="button"><i class="fa fa-search"></i>&nbsp;</button>
                    </span>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="productViewTpl">
    <td><%= name %></td>
    <td><input type="text" class="form-control" value="<%= usdPrice %>"></td>
    <td>
        <button class="btn btn-default btn-md" type="button">
            <span class="glyphicon glyphicon-floppy-save" data-toggle="tooltip" data-placement="top" title="Обновить цену товара в у.е.">
            </span>
        </button>
    </td>
</script>

<script type="text/template" id="toManufacturerBtn">
    <div class="col-md-6">
        <button id="toManufacturersList" type="button" class="btn btn-default btn-sm pull-left">
            <span data-toggle="tooltip" data-placement="top" title="К списку производителей" class="glyphicon glyphicon-arrow-left"></span>
            К производителям &nbsp;
        </button>
    </div>
</script>

<script type="text/template" id="switchBtnTpl">
    <div class="col-md-6">
        <div class="btn-group" role="group">
            <button id="manufacturersBtn" type="button" class="btn btn-default btn-md">&nbsp; Производители &nbsp;</button>
            <button id="productsBtn" type="button" class="btn btn-default btn-md">&nbsp; Товары &nbsp;</button>
        </div>
        <p>
    </div>
</script>


<script type="text/template" id="paginationTpl">
    <div class="col-md-12 column">
        <ul id="paginationView" class="pagination pagination-sm">
            <% if (currentPage > firstPage) { %>
            <li>
                <a href="#" class="serverprevious">Пред.</a>
            </li>
            <% } else { %>
            <li>
                <a href="">Пред.</a>
            </li>
            <% } %>

            <% for(p=1;p<=totalPages;p++){
            %>
            <% if (currentPage == p) { %>
            <li class="active">
                <a href="#"><%= p %></a>
            </li>
            <% } else { %>
            <li>
                <a href="#" class="page"><%= p %></a>
            </li>
            <% } %>
            <%
            }%>

            <% if (currentPage < totalPages) { %>
            <li>
                <a href="#" class="servernext">След.</a>
            </li>
            <% } %>
        </ul>
    </div>
</script>