<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/price.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
</head>
<script type="text/template" id="groupTemp">
    <input id="<%= name %>" siteId="<%= id %>" type="radio" name="site" >
    <label for="<%= name %>"> <%= name %> </label>
</script>
<script type="text/template" id="categoryTpl">
    <a id="<%= id %>"> <%= name %> ( <%= count %> ) </a>
</script>
<script type="text/template" id="groupTempToSelect">
    <option value="<%= id %>"> <%= name %> </option>
</script>
<body>
<div id="container">
<div id="cont">
    <div id="wrapp">
        <div id="sitesDiv">
        <div id="clientSites">
            <div id="sites">
            </div>
        </div>
        </div>
        <div id="main">
            <div id="categories">
                <div class="groupsManager">
                    <div id="addNewGroupDiv" title="Add new group">
                        <a title="" href="javascript:;" onmousedown="slidedown('addNewSite');slideup('addNewSite');">
                            <img src="/assets/images/addSiteImg.png">
                        </a>
                    </div>
                    <div id="addNewSite" style="display:none; overflow:hidden; height:50px;">
                        <form id="addNewSiteForm">
                            <input id="new-group" type="text" name="name">
                            <!--<table>
                                <tr>
                                    <td><input id="new-group" type="text" name="name"></td>
                                    <td><input type="submit" value="OK" onclick="addNewSite()"></td>
                                </tr>
                            </table>  -->
                        </form>
                    </div>
                    <div id="deleteGroupId" title="Delete current group">
                        <img id="deleteGroupIdImg" src="/assets/images/delete.png">
                    </div>
                    <div id="mergeDiv">
                        <select id="mergeGroups" required>
                            <option selected disabled>Merge to</option>
                        </select>
                    </div>
                    <div id="excludeDiv">
                        <select id="excludeGroups" required>
                            <option selected disabled>Exclude</option>
                        </select>
                    </div>
                </div>
                <div id="counterDiv">
                    <p>Total selected items: <span class="countProducts"></span></div>
            <ol class="rectangle-list"></ol>
            </div>
        </div>

    </div>
</div>
</div>

<script type="text/javascript" src="javascripts/backbonejs/jquery-1.10.2.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/underscore.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/backbone.js"></script>
<script type="text/javascript" src="javascripts/motionpack.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/groups.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/categories.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/general.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/groupsmanager.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/counter.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {

//        $('#mergeGroups').on('change', function() {
//            console.log(this.value); // or $(this).val()
//        });

    });

</script>
</body>
</html>