<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/price.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css"/>
</head>
<script type="text/javascript" src="javascripts/backbonejs/jquery-1.10.2.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/underscore.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/backbone.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/groups.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/categories.js"></script>
<script type="text/javascript" src="javascripts/backbonejs/general.js"></script>
<script type="text/template" id="groupTemp">
    <input id="<%= name %>" siteId="<%= id %>" type="radio" name="site" >
    <label for="<%= name %>"> <%= name %> </label>
</script>
<script type="text/template" id="categoryTpl">
    <a id="<%= id %>"> <%= name %> ( <%= count %> ) </a>
</script>
<body>
<div id="container">
<div id="cont">
    <div id="wrapp">

        <form id="addGroup">
            <input type="text" placeholder="Name of a new group..">
            <input type="submit" value="Add Group">
        </form>
        <div id="sitesDiv">
        <div id="clientSites">
            <div id="sites">
            </div>
        </div>
        </div>
        <div id="main">
            <div id="categories"></div>
        </div>

    </div>
</div>
</div>
</body>
</html>