<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Генератор прайс-листов - MService</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

    <!-- Свіжа збірка мінімізованих CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Додаткові теми -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/favicon.png">


</head>

<script type="text/template" id="categoryTpl">
     <%= name %> <span class="badge"> <%= count %> </span>
</script>

<script type="text/template" id="groupViewTemplate">
    <input type="radio" name="site" id="<%= name %>" siteId="<%= id %>"> <strong><%= name %> </strong>
</script>

<script type="text/template" id="productViewTemplate">

    <td>
        <input id="<%= id %>" type="checkbox" class="productCheck" <% if (checked) { %> checked <% } %> >
    </td>
    <td>
        <a href="<%= url %>" target="_blank"><%= productName %></a>
    </td>
    <td>
        <%= price %>
    </td>
    <td>
        <% if (published) { %>
        <span class="label label-success">ДА</span>
        <% } else { %>
        <span class="label label-default">НЕТ</span><% } %>
    </td>
    <td>
        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editProductModal">
            <span data-toggle="tooltip" data-placement="top" title="Редактировать" class="glyphicon glyphicon-pencil"></span>
        </button>
    </td>
</script>

<script type="text/template" id="customCategoryViewTpl">

    <td>
        <%= name %>
    </td>
    <td>
        <%= parentName %>
    </td>
    <td>
        <button class="btn btn-danger btn-sm" type="button">
            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Удалить категорию" ></span>
        </button>
    </td>

</script>

<script type="text/template" id="searchResultViewTemplate">

    <td>
        <input id="<%= id %>" type="checkbox" class="productCheck" <% if (checked) { %> checked <% } %> >
    </td>
    <td>
        <%= categoryName %>
    </td>
    <td>
        <a href="<%= url %>" target="_blank"><%= productName %></a>
    </td>
    <td>
        <%= price %>
    </td>
    <td>
        <% if (published) { %>
        <span class="label label-success">ДА</span>
        <% } else { %>
        <span class="label label-default">НЕТ</span><% } %>
    </td>

</script>

<script type="text/template" id="tmpServerPagination">
          <% if (currentPage > firstPage) { %>
                  <li>
                    <a href="#" class="serverprevious">Пред.</a>
                  </li>
          <% } else { %>
                  <li>
                    <a href="#">Пред.</a>
                  </li>
                  <% } %>

          <% for(p=1;p<=totalPages;p++){
          %>
            <% if (currentPage == p) { %>
                  <li class="active">
                      <a href="#"><%= p %></a>
                  </li>
            <% } else { %>
                  <li>
                    <a href="#" class="page"><%= p %></a>
                  </li>
            <% } %>
          <%
          }%>

          <% if (currentPage < totalPages) { %>
            <li>
                <a href="#" class="servernext">След.</a>
            </li>
          <% } %>
</script>

<script type="text/template" id="searchResultsPaginationTmp">
    <% if (currentPage > firstPage) { %>
    <li>
        <a href="#" class="serverprevious">Пред.</a>
    </li>
    <% } else { %>
    <li>
        <a href="#">Пред.</a>
    </li>
    <% } %>

    <% for(p=1;p<=totalPages;p++){
    %>
    <% if (currentPage == p) { %>
    <li class="active">
        <a href="#"><%= p %></a>
    </li>
    <% } else { %>
    <li>
        <a href="#" class="page"><%= p %></a>
    </li>
    <% } %>
    <%
    }%>

    <% if (currentPage < totalPages) { %>
    <li>
        <a href="#" class="servernext">След.</a>
    </li>
    <% } %>

</script>

<script type="text/template" id="breadcrumbsViewTemplate">
    <li>
        <a id="goHome" href="/priceUpdated">Генератор прайс-листов</a> <span class="divider"></span>
    </li>
    <% if (categoryName != null ) { %>
        <li>
            <%= groupName%> <span class="divider">/</span> <a id="goToCategoriesLink" href="#">Категории</a> <span class="divider"></span>
        </li>
    <% } else { if (groupName != null ) %>
        <li class="active">
            <%= groupName %> <span class="divider">/</span> <a id="goToCategoriesLink" href="#">Категории</a>
        </li>
    <% } %>

     <% if (categoryName != null ) { %>
        <li class="active">
            <%= categoryName %><span class="divider"></span>
        </li>
    <% } %>

</script>

<script type="text/template" id="editProductTpl">

</script>

<body>
<div class="container">
    <!-- Top menu -->
    <div class="row clearfix">
        <div class="col-lg-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">MService</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-wrench"></i>&nbsp; Сервисы<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/assets/pricelist-generator.html">Генератор прайс-листов</a>
                                </li>
                                <li>
                                    <a href="/actualization">Обновление товаров</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="/assets/contact.html"><i class="fa fa-phone"></i>&nbsp; Контакты</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="logoutLink" href="#"><i class="fa fa-sign-out"></i>&nbsp; Выйти</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>

    <!-- breadcrumbs -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul id="breadcrumbsView" class="breadcrumb"></ul>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div id="priceManagerDiv" class="col-md-12 column">

                                    <!-- Buttons for working with prices-->
                                    <!--<div class="btn-group">-->

                                        <!-- Button trigger create price modal -->
                                        <button id="createNewPriceBtn" class="btn btn-info btn-md" type="button" data-toggle="modal" data-target="#createPriceModal">
                                            <span data-toggle="tooltip" data-placement="top" title="Добавить прайс" class="glyphicon glyphicon glyphicon-plus"></span>
                                        </button>


                                        <!-- Create price Modal -->
                                        <div class="modal fade" id="createPriceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">Создать новый прайс-лист</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="input-group">
                                                            <div class="form-group">
                                                                <label class="control-label" for="priceNameInput">Название прайс-листа:</label>
                                                                <input type="text" class="form-control" id="priceNameInput">
                                                                <span id="invalidNewPriceName" class="error">Прайс-лист с таким именем уже существует!</span>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <label for="priceFormatSelect">Формат прайс-листа:</label>
                                                                <select id="priceFormatSelect" class="form-control">
                                                                    <option value="YML">YML</option>
                                                                    <option value="price">XML (for HotLine)</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row top-buffer">
                                                            <div class="col-xs-6">
                                                                <label for="priceRegCurrencySelect">Валюта станы, региона:</label>
                                                                <select id="priceRegCurrencySelect" class="form-control">
                                                                    <option value="none" disabled>Выбрать валюту региона..</option>
                                                                    <option value="UAH">Гривны</option>
                                                                    <option value="RUB">Рубли (рус.)</option>
                                                                    <option value="BYR">Рубли (бел.)</option>
                                                                    <option value="KZT">Тенге</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="row top-buffer">
                                                            <div class="col-xs-6">
                                                                <label for="priceCurrencySelect">Валюта товаров в прайсе:</label>
                                                                <select id="priceCurrencySelect" class="form-control">
                                                                    <option value="none" disabled>Укажите валюту товаров в прайсе..</option>
                                                                    <option value="UAH">Гривны</option>
                                                                    <option value="RUB">Рубли (рус.)</option>
                                                                    <option value="BYR">Рубли (бел.)</option>
                                                                    <option value="USD">Доллары</option>
                                                                    <option value="EUR">Евро</option>
                                                                    <option value="KZT">Тенге</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row top-buffer">
                                                            <div class="col-xs-6">

                                                                <select id="priceCurrencyRateSelect" class="form-control" disabled>
                                                                    <option value="none" disabled>Курс валюты..</option>
                                                                    <option value="NBU">НБУ</option>
                                                                    <option value="CBRF">ЦБРФ</option>
                                                                    <option value="NBK">НБК</option>
                                                                    <option value="custom">Другой курс</option>
                                                                </select>

                                                            </div>
                                                            <div class="col-xs-6">
                                                                <input class="form-control" id="priceCurrencyRate" type="text" placeholder="Укажите курс .." disabled>
                                                            </div>
                                                        </div>

                                                        <div class="row top-buffer">
                                                            <div class="col-xs-6">
                                                                <label for="categoriesTypeSelect">Категории, которые используються для генераци прайса:</label>
                                                                <select id="categoriesTypeSelect" class="form-control">
                                                                    <option value="false">Категории магазина</option>
                                                                    <option value="true">Пользовательские категории</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                        <button id="saveNewPrice" type="button" class="btn btn-primary">Сохранить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Button trigger edit price modal -->
                                        <button id="editPriceBtn" class="btn btn-warning btn-md" type="button" data-toggle="modal" data-target="#editPriceModal">
                                            <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Редактировать прайс" ></span>
                                        </button>

                                        <button id="downloadPriceBtn" class="btn btn-success btn-md" type="button">
                                            <span class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="top" title="Скачать прайс" ></span>
                                        </button>

                                        <!-- Edit Modal -->
                                        <div class="modal fade" id="editPriceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel1">Редактировать прайс-лист</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="input-group">
                                                            <div class="form-group">
                                                                <label class="control-label" for="priceNameInputEdit">Название прайс-листа:</label>
                                                                <input type="text" class="form-control" id="priceNameInputEdit">
                                                                <span id="invalidPriceName" class="error">Прайс-лист с таким именем уже существует!</span>
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class="col-xs-6">
                                                                <label for="priceFormatSelectEdit">Формат прайс-листа:</label>
                                                                <select id="priceFormatSelectEdit" class="form-control">
                                                                    <option value="YML">YML</option>
                                                                    <option value="price">XML (for HotLine)</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row top-buffer">
                                                            <div class="col-xs-6">
                                                                <label for="priceRegCurrencySelectEdit">Валюта станы, региона:</label>
                                                                <select id="priceRegCurrencySelectEdit" class="form-control">
                                                                    <option value="none" disabled>Выбрать валюту региона..</option>
                                                                    <option value="UAH">Гривны</option>
                                                                    <option value="RUB">Рубли (рус.)</option>
                                                                    <option value="BYR">Рубли (бел.)</option>
                                                                    <option value="KZT">Тенге</option>
                                                                </select>
                                                            </div>

                                                        </div>

                                                        <div class="row top-buffer">
                                                            <div class="col-xs-6">
                                                                <label for="priceCurrencySelectEdit">Валюта товаров в прайсе:</label>
                                                                <select id="priceCurrencySelectEdit" class="form-control">
                                                                    <option value="none" disabled>Укажите валюту товаров в прайсе..</option>
                                                                    <option value="UAH">Гривны</option>
                                                                    <option value="RUB">Рубли (рус.)</option>
                                                                    <option value="BYR">Рубли (бел.)</option>
                                                                    <option value="USD">Доллары</option>
                                                                    <option value="EUR">Евро</option>
                                                                    <option value="KZT">Тенге</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row top-buffer">
                                                            <div class="col-xs-6">
                                                                <select id="priceCurrencyRateSelectEdit" class="form-control" disabled>
                                                                    <option value="none" disabled>Курс валюты..</option>
                                                                    <option value="NBU">НБУ</option>
                                                                    <option value="CBRF">ЦБРФ</option>
                                                                    <option value="NBK">НБК</option>
                                                                    <option value="custom">Другой курс</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <input class="form-control" id="priceCurrencyRateEdit" type="text" placeholder="Укажите курс .." disabled>
                                                            </div>
                                                        </div>

                                                        <div class="row top-buffer">
                                                            <div class="col-xs-6">
                                                                <label for="categoriesTypeSelectEdit">Категории, которые используються для генераци прайса:</label>
                                                                <select id="categoriesTypeSelectEdit" class="form-control">
                                                                    <option value="false">Категории магазина</option>
                                                                    <option value="true">Пользовательские категории</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row top-buffer">
                                                            <div class="col-md-12">
                                                                <strong>Ссылка на прайс-лист:</strong>
                                                                <div id="priceLink" class="well well-sm">
                                                                    </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                        <button id="saveEditedPrice" saveEditedPrice type="button" class="btn btn-primary">Сохранить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button id="deletePriceButton" class="btn btn-danger btn-md" type="button">
                                            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Удалить прайс" ></span>
                                        </button>

                                    <!-- Prices -->
                                    <div id="prices" class="btn-group" data-toggle="buttons"></div>
                                <!--</div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div id="searchDiv" class="row clearfix">
        <div class="col-md-12 column">
            <form id="searchForm" class="form-inline" role="form">
                <button id="sendSearchTextsBtn" type="button" class="btn btn-default"><i class="fa fa-search"></i> Найти </button>
                <div class="form-group">
                    <label class="sr-only" for="searchText">name</label>
                    <input type="text" class="form-control" id="searchText" placeholder="">
                </div>
            </form> </br>

            <div id="searchQueryLabel" class="well well-sm"></div>

            <table id="searchResultsTable" class="table table-striped table-hover"></table>

            <!-- searchResultspagination -->
            <ul id="searchResultsPagination" class="pagination pagination-sm"></ul>
        </div>
    </div>

    <!-- product categories -->
    <div id="categoriesTabs" class="row clearfix">
        <div class="col-md-12 column">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#clientsCategories" role="tab" data-toggle="tab">Категории магазина</a></li>
                <li><a href="#customCategories" role="tab" data-toggle="tab">Категории для прайса</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="clientsCategories">
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="categories" class="list-group"></div>
                    </div>
                    </div>
                </div>
                <div class="tab-pane" id="customCategories">
                <div class="row clearfix">
                <div class="col-md-12 column">
                <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="panel panel-default">
                                <div class="panel-heading">Добавить новую категорию</div>
                                    <div class="panel-body">
                                        <form class="form-inline" role="form">
                                            <div class="form-group">
                                                <label class="sr-only" for="customCategoryName">Название категории</label>
                                                <input type="text" class="form-control" id="customCategoryName" placeholder="Название категории">
                                            </div>
                                            <div class="form-group">
                                                <select id="customCategoryParent" class="form-control">
                                                </select>
                                            </div>
                                            <button id="addCustomCategoryBtn" type="button" class="btn btn-default">Добавить</button>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="panel panel-default">
                                <div class="panel-heading">Список категорий</div>
                                    <div class="panel-body">
                                        <table id="customCategoriesTable" class="table table-striped table-hover"></table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- products table -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table id="productsTable" class="table table-striped table-hover"></table>

            <!-- pagination -->
            <ul id="paginationView" class="pagination pagination-sm"></ul>
        </div>
    </div>

    <div id="loader"><div class="anim"><img src="assets/images/download.gif"></div></div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <!-- Edit product Modal -->
            <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel3">Редактировать продукт</h4>
                        </div>
                        <div class="modal-body">

                            <div class="input-group">
                                <div class="form-group">
                                    <label class="control-label" for="productNameInputEdit">Название продукта:</label>
                                    <input type="text" class="form-control" id="productNameInputEdit" value="">
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="form-group">
                                    <label class="control-label" for="productDesc">Описание продукта:</label>
                                    <textarea id="productDesc" class="form-control" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="form-group">
                                    <label class="control-label" for="productCategory">Категория продукта (в магазине):</label>
                                    <input type="text" class="form-control" id="productCategory" value="">
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="form-group">
                                    <label class="control-label" for="productCategory">Категория продукта в прайсе:</label>
                                    <input type="text" class="form-control" id="productCategoryInPrice" value="">
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="form-group">
                                    <label class="control-label" for="customProductCategory">Изменить категорию продукта в прайсе:</label>
                                    <select id="customProductCategory" class="form-control">
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button id="editProduct" type="button" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="assets/javascripts/backbonejs/jquery-1.10.2.js"></script>
<script type="text/javascript" src="assets/javascripts/backbonejs/underscore.js"></script>
<script type="text/javascript" src="assets/javascripts/backbonejs/backbone.js"></script>
<script type="text/javascript" src="assets/javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/backbone.paginator.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/jquery.bootstrap-growl.min.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/bootbox.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/counter.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/globvar.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/breadcrumbs.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/categories.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/customCategories.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/groups.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/products.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/productsManager.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/groupsmanager.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrapjs/routes.js"></script>

<!-- Свіжа збірка мінімізованої JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
        // Activates Tooltips for Social Links
        $('.btn').tooltip({
            selector: "span[data-toggle=tooltip]"
        });
    })

</script>

</body>
</html>
